<div class="content" fxLayout="row" fxLayoutAlign="center">
  <mat-card elevation="5" fxFlex>
    <mat-card-header>
      <mat-card-title>
        <h2>{{ title }}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>Dołącz do Masnej Szamy!</h2>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
      <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
        <input type="hidden"  formControlName="imgUrl" >
        <mat-form-field>
          <label>Username:
            <input formControlName="username" matInput required>
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>Password:
            <input formControlName="password" matInput required type="password">
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>First Name:
            <input formControlName="firstName" matInput>
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>Last Name:
            <input formControlName="lastName" matInput>
          </label>
        </mat-form-field>
        <mat-form-field>
          <label>Phone Number:
            <input formControlName="phonenumber" matInput>
          </label>
        </mat-form-field>
        <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Zarejestruj</button>
      </form>
      <br>
      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
      <br>
      <hr>
    </mat-card-content>
  </mat-card>
</div>
