<div class="container">

  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item" routerLinkActive="active">

          <a class="nav-link" routerLink="/">Zakończ sesję</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/list-resto">Lista restauracji</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/restaurant-menu-update-panel">Edycja menu</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/user-list">Lista użytkowników</a>
        </li>

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-5 "> <!--menu-->
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Nazwa</th>
          <th scope="col">Opis</th>
          <th scope="col">Cena</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let meal of meals$ | async">
          <td class="align-middle"><input type="text" value="{{meal.name}}"></td>
          <td class="align-middle"><input type="text" value="{{meal.name}}"></td>
          <td class="align-middle"><input type="text" value="{{meal.price}}"></td>
          <td class="align-middle">

            <button type="button" class="btn" (click)="deleteFromOrder(meal.id)">Usuń</button>

          </td>
        </tr>
        </tbody>

      </table>

      <button type="button" class="btn">Zapisz zmiany</button>
      <button type="button" class="btn">Dodaj</button>
    </div> <!-- menu end -->

  </div> <!-- row end -->

</div> <!-- container end -->
