app:
  name: Masna Szama
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/masnaszama?serverTimezone=CET&useLegacyDatetimeCode=false
    username: masnaszamauser
    password: masnofest
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
jwt:
  header: Authorization
  expires_in: 600 # 10 minutes
  secret: queenvictoria
  cookie: AUTH-TOKEN

logging:
  level:
    org.springframework.web: ERROR
    com.bfwg: DEBUG
    com.masnaszama: DEBUG
