<div class="container">

  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item" routerLinkActive="active">

          <a class="nav-link" routerLink="/">Zakończ sesję</a>
        </li>
        <!--  <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/menus">Menu&Kategoria</a>
          </li> -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/categories">Dodaj restaurację</a>
        </li>
        <!-- <li class="nav-item" routerLinkActive="active">
           <a class="nav-link" routerLink="/items">Dania</a>
         </li>
 -->

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/list-resto">Lista restauracji</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/restaurant-menu-update-panel">Edycja menu</a>
        </li>


      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<nav class="navbar navbar-light bg-light">
  <div class="row">
    <a class="navbar-brand" href="/">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="Dodaj restaurację">
      Dodaj restaurację
    </a>
  </div>
</nav>
<div class="jumbotron">

  <form>
    <div class="form-group">
      <label>Nazwa</label>
      <input type="text" class="form-control" placeholder="Podaj nazwę" formControlName="Nazwa">
    </div>
    <div class="form-group">
      <label>Adres</label>
      <input type="text" class="form-control" placeholder="Podaj adres" formControlName="Adres">
    </div>
    <div class="form-group">
      <label>Opis</label>
      <input type="text" class="form-control" placeholder="Podaj opis" formControlName="Opis">
    </div>

    <button type="submit" class="btn btn-primary">Zapisz</button>
  </form>


</div>

