<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <title></title>
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 float-left">
      <div class="left-navbar text-center">

        <nav>
          <img class="displayed" [src]="clientPanelService.accImgLink" alt="accountIcon">
          <h4>Witaj</h4>
          <h4 class="mb-0"> {{this.clientPanelService.clientName}} {{this.clientPanelService.clientLastName}} !</h4>
          <hr/>
          <ul ngbNav>
            <li class="btn-block border-white" [ngbNavItem]="link.fragment" *ngFor="let link of links">

              <a ngbNavLink data-toggle="collapse" [routerLink]="[link.fragment]" routerLinkActive="active" class="float-left">
                <fa-icon class="float-left" icon="{{ link.icon }}"> </fa-icon> {{ link.title }}
              </a>
            </li>
          </ul>
        </nav>
        <router-outlet> </router-outlet>

      </div>
    </div>

    <!-- content -->
    <div class="col-lg-9">
      <div class="card-box col-lg-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="tab-pane active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">

                <h4 class="font-weight-bold mt-0 mb-4">Historia zamowien</h4>
                <tbody>
                <div style=" height: 900px; width: 1200px; overflow: scroll;">
                  <div *ngIf="this.empty"><p>Twoja historia jest pusta !</p></div>
                <tr *ngFor="let order of orderHistory$; let j = index ;  ">

                  <!--show address -->
                  <ng-template #showAddress let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Adres wybranego zamówienia:</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body">
                        <p class="text-gray mb-1">
                          <fa-icon [icon]="['fas', 'city']"> </fa-icon>
                          Miasto:
                          <span class="text-info">{{order.city}}</span><br>
                        </p>
                        <p class="text-gray mb-1"><fa-icon [icon]="['fas', 'road']"> </fa-icon>
                          Ulica:
                          <span class="text-info">{{order.street}}</span><br>
                        </p>
                        <p class="text-gray mb-3">
                          <fa-icon [icon]="['fas', 'list-ol']"> </fa-icon>
                          Numer mieszkania:
                          <span class="text-info">{{order.flatNumber}}</span><br>
                        </p>
                      </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Zakoncz</button>
                    </div>
                  </ng-template>
                  <!--finish show address -->
                  <!--Show meals -->
                  <ng-template #showMeals let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Zamówione posiłki</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                      <div class="left">
                        <fa-icon  [icon]="['fas', 'hamburger']"> </fa-icon><a >&nbsp;&nbsp;Posiłek</a>
                        <ul style="padding-left:20px">
                          <li *ngFor="let meal of order.mealName" style="padding-right:35px" class="text-info" >{{meal}}</li>
                          <br>
                        </ul>
                      </div>
                        <div  class="right">
                        <fa-icon [icon]="['fas', 'dollar-sign']"> </fa-icon><a  style="padding-right:35px">&nbsp;&nbsp;Cena</a>
                          <ul>
                            <li *ngFor="let meals of order.price" class="text-info" >{{meals}}</li>
                            <br>
                          </ul>
                      </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Zakoncz</button>
                    </div>
                  </ng-template>
                  <!--finish show meals -->
                  <!--Show opinion -->
                  <ng-template #showOpinion let-c="close" let-d="dismiss">
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Wystaw Opinie posiłków</h4>
                      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                        <div class="left">
                          <fa-icon  [icon]="['fas', 'hamburger']"> </fa-icon><a >&nbsp;&nbsp;Posiłek</a>
                          <ul style="padding-left:20px">
                            <li *ngFor="let meal of order.mealName" class="text-info" >{{meal}}</li>
                            <br>
                          </ul>
                        </div>
                        <a >&nbsp;Opinia</a>

                            <div *ngFor="let opinion of order.opinionComment" class="text-info" > - {{opinion}}</div>
                            <br>

                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Zakoncz</button>
                    </div>
                  </ng-template>
                  <!--finish show opinion -->
                  <div class="bg-white card mb-4 order-list shadow-sm">
                  <div class="gold-members p-3">
                    <div class="media">
                      <div class="media-body">
                              <span  class="float-right font-weight-bold">
                                <fa-icon [icon]="['fas', 'truck-loading']"> </fa-icon>
                                Data zamowienia:
                                {{order.orderedTime}}
                                </span>
                        <h6 class="mb-2">
                          <fa-icon [icon]="['fas', 'utensils']"> </fa-icon>
                          <a href="#" style="padding-left:35px" class="text-black">{{order.restaurantName}} </a>
                        </h6>
                        <hr/>
                        <p class="text-gray mb-1">
                          <span style="padding-left:250px"  class="float-right">
                                <fa-icon [icon]="['far', 'clock']"> </fa-icon>
                                  <span class="font-weight-bold">
                                    Przewidywana data odbioru:
                                  </span>
                              </span>
                        </p>

                        <p class="text-gray mb-3"><fa-icon [icon]="['fas', 'clipboard-list']"> </fa-icon> Nr. zamówienia

                          <span class="text-info">#{{order.orderId}}</span>

                          <span class="float-right">
                                  <span class="font-weight-bold">
                                    {{order.desiredDeliveryTime}}
                                  </span>
                              </span>

                        </p>

                        <p class="text-gray mb-3"><fa-icon [icon]="['fas', 'donate']"> </fa-icon> Napiwek dla kuriera:
                          <span class="text-info">{{order.tip}}</span> </p>

                        <p class="text-gray mb-1"><fa-icon [icon]="['fas', 'info']" > </fa-icon>
                          <span class="text-gray"> Komentarz dla kuriera: </span>
                        </p>
                        <p class="text-gray mb-1; comment" >
                            <span class="text-info" > {{order.comment}} </span>

                        </p>
                        <hr/>

                        <div class="float-right">

                          <a class="btn btn-sm btn-primary btn-primary px-2" (click)="open(showOpinion)">
                            <fa-icon [icon]="['far', 'check-circle']" > </fa-icon> Dodaj swoją opinie</a>
                        </div>
                        <a class="btn btn-sm btn-outline-primary px-2"   (click)="open(showAddress)">Sprawdz adres zamowienia</a>
                        <a class="btn btn-sm btn-outline-primary " (click)="open(showMeals)" >Zobacz szczegóły</a>
                      </div>
                    </div>
                  </div>
                  </div></tr>
                </div>
                </tbody>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- end tab-content -->
    </div> <!-- end card-box-->
  </div> <!-- end col -->
</div>

</body>
</html>
