<div class="container">

  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs">
        <li class="nav-item" routerLinkActive="active">

          <a class="nav-link" routerLink="/">Zakończ sesję</a>
        </li>
        <!--  <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/menus">Menu&Kategoria</a>
          </li> -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/categories">Dodaj restaurację</a>
        </li>
        <!-- <li class="nav-item" routerLinkActive="active">
           <a class="nav-link" routerLink="/items">Dania</a>
         </li>
 -->

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/list-resto">Lista restauracji</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/restaurant-menu-update-panel">Edycja menu</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/user-list">Lista użytkowników</a>
        </li>

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="Lista restauracji">

        Lista restauracji
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>

<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="Podaj nazwę i kategorię" aria-label="Restaurant Name..." value="" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">

      <div class="card-columns" >
          <div class="card mb-3" *ngFor="let resto of collection">
            <div class="card-body p-3" >
              <h6 class="card-title mb-1">{{resto.restaurantName}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{resto.restaurantDescription}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                Średnia ocen: {{resto.averageOpinion}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
